<html>
    <title>UiTM Timetable Maker</title>
    <head>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/timetablejs.css') }}">

        {% include 'nav.html' %}
    <body>
      <div class="center_container">
      <div id="branch_container">
        <label for="branch_container" class="campus-label">Campus/Programme</label>
      </div>
      <table id="table_selection"></table>
      
      <div class="timetable"></div>
      </div>
    </body>
    <script src="{{ url_for('static', path='scripts/timetable.js') }}"></script>
    <script src="{{ url_for('static', path='scripts/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='scripts/handler.js') }}"></script>

    <script>
      let branchContainer = document.getElementById("branch_container");
      let branchSpinner = new Spinner("Select Campus", branchContainer);
      {% for item in branches %}
        branchSpinner.addOption("{{item}}", "{{item}}");
      {% endfor %}
      branchSpinner.addSelectedListener(selectedBranch);
    </script>
</html>