<html>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/timetablejs.css') }}">
    {% include 'nav.html' %}
    <body>
      <div class="center_container">
      <div id="branch_container">
        <label for="branch_container" class="campus-label">Campus/Faculty</label>
      </div>
      <table id="table_selection"></table>
      
      <div class="timetable"></div>
      </div>
    </body>
    <script src="{{ url_for('static', path='scripts/timetable.js') }}"></script>
    <script src="{{ url_for('static', path='scripts/ui.js') }}"></script>
    <script src="{{ url_for('static', path='scripts/model.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='scripts/handler.js') }}"></script>

    <script>
        var meWhen = function whenStart(arr_campuses){
            if (meWhen.fired)  // ensure fired once
              return;

            meWhen.fired = true;
            let branchContainer = document.getElementById("branch_container");
            let branchSpinner = new Spinner("Select Campus/Faculty", branchContainer);
            arr_campuses.forEach(e => branchSpinner.addOption(e, e));
            branchSpinner.addSelectedListener(selectedBranch);
        }
        meWhen({{ branches|safe }});
    </script>
</html>